@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;500;600;700&display=swap');
*{
    box-sizing: border-box;
    border: 0;
    padding: 0;
    font-family: 'Red Rose', cursive;
}
:root{
    --header-black: #434343;
    --button-background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
    --button-color: #FFFFFF;
    --modal-background: rgba(64, 64, 64, 0.3);
    --hr-color: #CFD8DC;
    --modal-black: #333333;
    --modal-button-color: #F8F9FA;
}
.modal-body{
    position: fixed;
    background-color: var(--modal-background);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    z-index: 3;
}
.modal-body.show{
    opacity: 1;
    pointer-events: visible;
}
.modal-content{
   width: 40%;
   background-color: var(--button-color);
   border-radius: 16px;
   padding-bottom: 5vh;
   transform: translateY(200px);
   transition: all 0.3s ease-in-out;
}
.modal-body.show .modal-content{
    transform: translateY(0);
}
.modal-1{
    display: flex;
    padding: 2vh 5% 0;
    /* margin-bottom: -3vh; */
    justify-content: space-between;
}
.modal-1 h1{
    font-weight: 700;
    font-size: 1.7em;
    line-height: 0px;
    color: var(--modal-black);
}
.modal-1-image{
    width: 20%;
    
}
.modal-1 img{
    width: 30%;
    margin-top: 10%;
    margin-left: 70%;
    cursor: pointer;
}
hr{
    border: 1px solid var(--hr-color);
    opacity: 0.4;

}
.modal-2{
    padding-left: 5%;
    padding-top: 0.5vh;
}
.modal-2 p{
    font-weight: 400;
    font-size: 1em;
    line-height: 20px;
    color: var(--modal-black);
}
.modal-3{
    margin: 0 5%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
.modal-3-content{
    display: flex;
    justify-content: space-between;
    background-color: var(--modal-button-color);
    border: 1px solid var(--hr-color);
    border-radius: 12px;
    padding: 0vh 4%;
    cursor: pointer;
}
.modal-3-content .content-flex{
    display: flex;

}
.modal-3-content p{
    font-weight: 600;
    font-size: 1.1em;
    line-height: 23px;
    padding-left: 0.7rem;
}
.content-flex img{
    width: 90%;
    margin-top: 1.5vh;
}
.modal-next img{
    margin-top: 3vh;
}
.mod-new{
    background-color: var(--button-color); 
}
/* first media query */
@media screen and (max-width: 1200px) {
    .modal-body{
        position: fixed;
        background-color: var(--modal-background);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: all 0.3s ease-in-out;
        pointer-events: none;
        z-index: 3;
    }
    .modal-body.show{
        opacity: 1;
        pointer-events: visible;
    }
    .modal-content{
       width: 45%;
       background-color: var(--button-color);
       border-radius: 16px;
       padding-bottom: 5vh;
       transform: translateY(200px);
       transition: all 0.3s ease-in-out;
    }
    .modal-body.show .modal-content{
        transform: translateY(0);
    }
    .modal-1{
        display: flex;
        padding: 2vh 5% 0;
        /* margin-bottom: -3vh; */
        justify-content: space-between;
    }
    .modal-1 h1{
        font-weight: 700;
        font-size: 1.7em;
        line-height: 0px;
        color: var(--modal-black);
    }
    .modal-1-image{
        width: 20%;
        
    }
    .modal-1 img{
        width: 30%;
        margin-top: 10%;
        margin-left: 70%;
        cursor: pointer;
    }
    hr{
        border: 1px solid var(--hr-color);
        opacity: 0.4;
    
    }
    .modal-2{
        padding-left: 5%;
        padding-top: 0.5vh;
    }
    .modal-2 p{
        font-weight: 400;
        font-size: 1em;
        line-height: 20px;
        color: var(--modal-black);
    }
    .modal-3{
        margin: 0 5%;
        display: flex;
        flex-direction: column;
        gap: 2vh;
    }
    .modal-3-content{
        display: flex;
        justify-content: space-between;
        background-color: var(--modal-button-color);
        border: 1px solid var(--hr-color);
        border-radius: 12px;
        padding: 0vh 4%;
        cursor: pointer;
    }
    .modal-3-content .content-flex{
        display: flex;
    
    }
    .modal-3-content p{
        font-weight: 600;
        font-size: 1.1em;
        line-height: 23px;
        padding-left: 0.7rem;
    }
    .content-flex img{
        width: 90%;
        margin-top: 1.5vh;
    }
    .modal-next img{
        margin-top: 3vh;
    }
    .mod-new{
        background-color: var(--button-color); 
    }
}
/* second media query */
@media screen and (max-width: 1020px){
    .modal-content{
        width: 50%;
        background-color: var(--button-color);
        border-radius: 16px;
        padding-bottom: 5vh;
        transform: translateY(200px);
        transition: all 0.3s ease-in-out;
     }
     .modal-1 img{
        width: 30%;
        margin-top: 12%;
        margin-left: 70%;
        cursor: pointer;
    }
}
/* third media query */
@media screen and (max-width: 900px){
    .modal-content{
        width: 60%;
        background-color: var(--button-color);
        border-radius: 16px;
        padding-bottom: 5vh;
        transform: translateY(200px);
        transition: all 0.3s ease-in-out;
     }
     .modal-1 img{
        width: 30%;
        margin-top: 14%;
        margin-left: 70%;
        cursor: pointer;
    }
}
/* fourth media query */
@media screen and (max-width: 750px){
    .modal-content{
        width: 70%;
        background-color: var(--button-color);
        border-radius: 16px;
        padding-bottom: 5vh;
        transform: translateY(200px);
        transition: all 0.3s ease-in-out;
     }
     .modal-1 img{
        width: 30%;
        margin-top: 16%;
        margin-left: 70%;
        cursor: pointer;
    }
}
/* fifth media query */
@media screen and (max-width: 600px){
    .modal-body{
        position: fixed;
        background-color: var(--modal-background);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: all 0.3s ease-in-out;
        pointer-events: none;
        z-index: 3;
    }
    .modal-body.show{
        opacity: 1;
        pointer-events: visible;
    }
    .modal-content{
       width: 80%;
       background-color: var(--button-color);
       border-radius: 16px;
       padding-bottom: 3vh;
       transform: translateY(200px);
       transition: all 0.3s ease-in-out;
    }
    .modal-body.show .modal-content{
        transform: translateY(0);
    }
    .modal-1{
        display: flex;
        padding: 1vh 5% 0;
        margin-bottom: -1vh;
        justify-content: space-between;
    }
    .modal-1 h1{
        font-weight: 700;
        font-size: 1.3em;
        line-height: 0px;
        color: var(--modal-black);
    }
    .modal-1-image{
        width: 20%;
        
    }
    .modal-1 img{
        width: 30%;
        margin-top: 10%;
        margin-left: 70%;
        cursor: pointer;
    }
    hr{
        border: 1px solid var(--hr-color);
        opacity: 0.4;
    
    }
    .modal-2{
        padding-left: 5%;
        padding-top: 0vh;
    }
    .modal-2 p{
        font-weight: 400;
        font-size: 0.9em;
        line-height: 20px;
        color: var(--modal-black);
    }
    .modal-3{
        margin: 0 5%;
        display: flex;
        flex-direction: column;
        gap: 2vh;
    }
    .modal-3-content{
        display: flex;
        justify-content: space-between;
        background-color: var(--modal-button-color);
        border: 1px solid var(--hr-color);
        border-radius: 12px;
        padding: 0vh 4%;
        cursor: pointer;
    }
    .modal-3-content .content-flex{
        display: flex;
    
    }
    .modal-3-content p{
        font-weight: 600;
        font-size: 1em;
        line-height: 23px;
        padding-left: 0.7rem;
    }
    .content-flex img{
        width: 80%;
        margin-top: 1.2vh;
    }
    .modal-next img{
        margin-top: 2vh;
    }
    .mod-new{
        background-color: var(--button-color); 
    }
}
/* sixth media query */
@media screen and (max-width: 450px){
    .modal-content{
        width: 85%;
        background-color: var(--button-color);
        border-radius: 16px;
        padding-bottom: 5vh;
        transform: translateY(200px);
        transition: all 0.3s ease-in-out;
     }
     .modal-1 img{
        width: 35%;
        margin-top: 18%;
        margin-left: 70%;
        cursor: pointer;
    }
}
/* seventh media query */
@media screen and (max-width: 350px){
    .modal-body{
        position: fixed;
        background-color: var(--modal-background);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: all 0.3s ease-in-out;
        pointer-events: none;
        z-index: 3;
    }
    .modal-body.show{
        opacity: 1;
        pointer-events: visible;
    }
    .modal-content{
       width: 90%;
       background-color: var(--button-color);
       border-radius: 16px;
       padding-bottom: 3vh;
       transform: translateY(200px);
       transition: all 0.3s ease-in-out;
    }
    .modal-body.show .modal-content{
        transform: translateY(0);
    }
    .modal-1{
        display: flex;
        padding: 1vh 5% 0;
        margin-bottom: -1vh;
        justify-content: space-between;
    }
    .modal-1 h1{
        font-weight: 700;
        font-size: 1.1em;
        line-height: 0px;
        color: var(--modal-black);
    }
    .modal-1-image{
        width: 20%;
        
    }
    .modal-1 img{
        width: 40%;
        margin-top: 14%;
        margin-left: 70%;
        cursor: pointer;
    }
    hr{
        border: 1px solid var(--hr-color);
        opacity: 0.4;
    
    }
    .modal-2{
        padding-left: 5%;
        padding-top: 0vh;
    }
    .modal-2 p{
        font-weight: 400;
        font-size: 0.8em;
        line-height: 20px;
        color: var(--modal-black);
    }
    .modal-3{
        margin: 0 5%;
        display: flex;
        flex-direction: column;
        gap: 2vh;
    }
    .modal-3-content{
        display: flex;
        justify-content: space-between;
        background-color: var(--modal-button-color);
        border: 1px solid var(--hr-color);
        border-radius: 12px;
        padding: 0vh 4%;
        cursor: pointer;
    }
    .modal-3-content .content-flex{
        display: flex;
    
    }
    .modal-3-content p{
        font-weight: 600;
        font-size: 0.9em;
        line-height: 23px;
        padding-left: 0.7rem;
    }
    .content-flex img{
        width: 80%;
        margin-top: 1.4vh;
    }
    .modal-next img{
        margin-top: 3vh;
    }
    .mod-new{
        background-color: var(--button-color); 
    }
}